{% load bootstrap4 %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/starter-template/">
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'maths/css/style.css' %}">
</head>

<body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top py-0 d-flex flex-row justify-content-between align-items-center">
            <div class="collapse navbar-collapse d-flex flex-row align-items-end justify-content-start mt-3" id="navbarsExampleDefault">
                <ul class="d-flex flex-row align-items-center justify-content-center">
                    <li><a class="navbar-brand mr-2" href="/greetings">Dingo</a></li>
                    <li>
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Maths
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/maths/results/">Results</a>
                                <a class="dropdown-item" href="/maths/histories/">Histories</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Posts
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/posts/list/">Posts</a>
                                <a class="dropdown-item" href="/posts/authors/">Authors</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Books
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/books/books/">Books</a>
                                <a class="dropdown-item" href="/books/authors/">Authors</a>
                                {% if user.is_authenticated %}
                                <a class="dropdown-item" href="/books/borrows/{{ user.username }}">My Borrows</a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <li><a class="navbar-brand" href="/greetings/about/">About</a></li>
                    <li><a class="navbar-brand" href="/greetings/contact/">Contact</a></li>
                    <li>
                        {% if user.is_authenticated %}
                            <a class="navbar-brand">
                                {{ user.username }} | <a class="navbar-brand" href="{% url 'logout' %}">logout</a>
                            </a>
                        {% else %}
                           <a class="navbar-brand" href="{% url 'login' %}">login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav mr-auto"></ul>
        </nav>

        <main>
            <div id="content" class="mt-5">
                <div id="header">
                    <p>{{ title }}</p>
                </div>

                <div class="mt-3 d-flex flex-column align-items-center justify-content-center">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="messages alert alert-info mt-3" role="alert">
                        {{ message }}
                        <button type="button" class="ml-2 close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                {% block content %}
                    To jest blok kodu. W innych szablonach możemy go nadpisać
                {% endblock %}
            </div>
        </main>
        
        <div class="mt-3 d-flex flex-column align-items-center justify-content-center">
            <footer class="pt-5 my-5 text-muted border-top">
                Created by the Bootstrap team &middot; &copy; 2021
            </footer>
        </div>

    </div>

    <!-- Load jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>