{% extends "maths/main.html" %}

{% block title %}Posts list{% endblock %}

{% block content %}

<div class="mt-3 d-flex flex-column align-items-center justify-content-center">

    <h3>{{ author.nick }}</h3>

    <table>
        <tr>
            <th>author.id</th>
            <td>{{ author.id }}</td>
        </tr>
        <tr>
            <th>author.nick</th>
            <td>{{ author.nick }}</td>
        </tr>
        <tr>
            <th>author.email</th>
            <td>{{ author.email }}</td>
        </tr>
        <tr><a href="{% url 'posts:author_posts' author.nick %}">Clisk to see this author posts</a></tr>
    </table>
    <a href="{% url 'posts:authors' %}">back</a>

    <h4 class="mt-3">Edit Author</h4>
    <form method="post" class="d-flex flex-column align-items-center justify-content-end">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-sm btn-primary" type="submit">save changes</button>
    </form>
    
</div>

{% endblock %}